
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');



body{   
max-width: 1440px;
max-height: 800px;
display: flex;
align-items: center;
justify-content: center;
background: hsl(212, 45%, 89%);
font-family:  'Outfit', sans-serif;
}
.container{
   margin-top: 70px;
   text-align: center;
   border-radius: 15px;
   max-width: 288px;
   background: hsl(0, 0%, 100%);
   padding: 15px;
}
.qrcode{
   border-radius: 10px;
}
.front{
   color: hsl(218, 44%, 22%);
  font-size: 25px;
   
}
.lll{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    
    
}